        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
            /* font-family: notosans-regular; */
            font-family: 'Merriweather Sans', sans-serif;
            letter-spacing: 0px;
            font-size: 14px;
            color: #36333c;
            font-weight: 400;
            line-height: 26px;
        }
        
        a {
            color: #36333c;
            text-decoration: none !important;
        }
        
        .h6 {
            font-size: 13px !important;
        }
        
        ul,
        li {
            list-style: none;
        }
        
        img,
        svg {
            max-width: 100%;
            vertical-align: middle;
            height: auto;
            object-fit: cover;
        }
        
        #navigation {
            font-family: 'Merriweather Sans', sans-serif;
        }
        
        .header {
            padding-top: 25px;
            padding-bottom: 20px;
        }
        
        @media (min-width: 768px) {
            .col-md-9 {
                flex: 0 0 auto;
                width: 75%;
                padding-top: 10px;
            }
        }
        
        #navigation ul {
            display: flex;
            position: relative;
            justify-content: space-around;
            padding: 0 !important;
            margin: 0 !important;
        }
        
        .hic li {
            padding: 20px 100px 0px 20px
        }
        
        #navigation ul ul {
            position: absolute;
            top: 30px;
            opacity: 0;
        }
        
        #navigation ul :hover .hic {
            opacity: 1;
            z-index: 2;
            background: white;
        }
        
        .has-sub ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0px;
            padding: 0 100px 0 5px;
            min-width: 100px;
        }
        
        .has-sub ul li {
            line-height: 3;
            border-bottom: 1px solid rgb(85, 80, 80);
            width: 100%;
        }
        
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            width: 3rem !important;
            height: 3rem !important;
        }
        
        .carousel-inner {
            max-height: 500px;
            height: 100%;
        }
        
        select.form-select:not([size]):not([multiple]) {
            height: 70px;
        }
        
        .input-group>.custom-select:not(:last-child),
        .input-group>.form-control:not(:last-child) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        
        .btn-primary {
            background-color: #fcd55a;
            color: #121113;
            border: 2px solid #fcd55a;
            padding: 10px;
            border-radius: 5px;
        }
        
        #datepicker {
            height: 70px;
        }
        
        .btn-lg {
            padding: 16px 45px;
            font-size: 18px;
        }
        
        .mb40 {
            margin-bottom: 40px;
        }
        
        .mb30 {
            margin-bottom: 30px;
        }
        
        .section-title {
            text-align: center;
            margin-top: 40px;
        }
        
        .nopl {
            padding-left: 0px;
        }
        
        .nopr {
            padding-right: 0px;
        }
        
        .destination-block {
            position: relative;
        }
        
        .desti-img {
            position: relative;
            margin-bottom: 30px;
        }
        
        .overlay {
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            right: 0;
            opacity: 0;
            transition: .5s ease;
            background-color: #121113;
        }
        
        .desti-img:hover .overlay {
            opacity: .6;
            box-shadow: -4px 5px 11px 0px rgb(0 0 0 / 32%);
        }
        
        .desti-img:hover .desti-title {
            left: 0px;
            opacity: 0;
            position: absolute;
        }
        
        .desti-title {
            font-size: 24px;
            position: absolute;
            bottom: 30px;
            left: 30px;
            color: #fff;
        }
        
        .desti-img:hover .text {
            opacity: 1;
        }
        
        .text {
            opacity: 0;
            color: #fff;
            position: absolute;
            top: 37%;
            left: 15%;
            transform: translate(-15%, -15%);
            -ms-transform: translate(-26%, -26%);
            font-weight: 400;
            font-size: 14px;
        }
        
        .service-wrapper {
            background-repeat: no-repeat;
            background-position: top center;
            background-image: url(../img/service_wrapper.jpg);
        }
        
        .space-medium {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        
        .service-block.border-right {
            border-right: 1px solid #fff !important;
        }
        
        .service-block.border-bottom {
            border-bottom: 1px solid #fff !important;
        }
        
        @media only screen and (max-width: 1200px) {
            .service-block {
                padding: 26px 10px;
            }
        }
        
        .service-block {
            text-align: center;
            background-color: transparent;
            padding-bottom: 66px;
            padding-top: 33px;
        }
        
        .service-img {
            margin-bottom: 30px;
        }
        
        .service-title {
            margin-bottom: 0px;
            font-size: 20px;
        }
        
        .service-block:hover {
            text-align: center;
            background-color: #fff;
            padding-bottom: 66px;
            padding-top: 33px;
        }
        
        .footer {
            padding-top: 66px;
            background: linear-gradient(to bottom, rgba(64, 14, 130, 1) 0%, rgba(64, 14, 130, 1) 0%, rgba(64, 14, 130, 1) 0%, rgba(117, 5, 125, 1) 50%, rgba(117, 5, 125, 1) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#400e82', endColorstr='#75057d', GradientType=0);
            color: #c0a6de;
            font-weight: 400;
            font-size: 14px;
        }
        
        .footer-widget ul li a:hover {
            color: #fff
        }
        
        .footer-widget ul li a {
            font-size: 14px;
            color: #c0a6de;
        }